In [1]:
# 2nd

from sklearn import preprocessing
import pandas as pd
import numpy as np

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [2]:
num_encoder = preprocessing.LabelEncoder()  # convert cat data to integers

In [3]:
num_encoder.fit(["monday", "tuesday", "wednesday"])

LabelEncoder()

In [4]:
num_encoder.classes_  # gets classes with the ordering of the cat(order is done by default and not by us)

array(['monday', 'tuesday', 'wednesday'], dtype='<U9')

In [5]:
num_encoder.transform(["monday", "tuesday", "wednesday"])

array([0, 1, 2], dtype=int64)

In [8]:
# gets original cat back from label encoded form(num)
num_encoder.inverse_transform([0, 1, 2, 0])

array(['monday', 'tuesday', 'wednesday', 'monday'], dtype='<U9')

In [9]:
# working with main data
employee_data = pd.read_csv("./datasets/employee_salary.csv")

employee_data

       Designation  Age  Salary Retired
0          Manager   54   72000     Yes
1       Supervisor   27   32000      No
2   Vice-president   30   42000      No
3          Manager   58   83000     Yes
4       Supervisor   40   35000      No
5       Supervisor   35   42000      No
6         Employee   40   48000      No
7   Vice-president   55   79000     Yes
8         Employee   45   67000      No
9       Supervisor   40   45000      No
10        Employee   35   32000      No
11        Employee   46   49000      No

In [10]:
data_encoder = preprocessing.LabelEncoder()

In [11]:
# does label encoding on all col in dataset but doesn't make sense since we have some num columns
employee_data_encoded = employee_data.apply(data_encoder.fit_transform)

employee_data_encoded

    Designation  Age  Salary  Retired
0             1    6       7        1
1             2    0       0        0
2             3    1       2        0
3             1    8       9        1
4             2    3       1        0
5             2    2       2        0
6             0    3       4        0
7             3    7       8        1
8             0    4       6        0
9             2    3       3        0
10            0    2       0        0
11            0    5       5        0

In [12]:
state_encoder = preprocessing.LabelEncoder()

employee_data["Designation_encoded"] = state_encoder.fit_transform(employee_data.Designation)


employee_data.head()

      Designation  Age  Salary Retired  Designation_encoded
0         Manager   54   72000     Yes                    1
1      Supervisor   27   32000      No                    2
2  Vice-president   30   42000      No                    3
3         Manager   58   83000     Yes                    1
4      Supervisor   40   35000      No                    2

In [13]:
state_encoder.classes_  # shows implied ordering

array(['Employee', 'Manager', 'Supervisor', 'Vice-president'],
      dtype=object)

In [14]:
retirement_encoder = preprocessing.LabelEncoder()

employee_data["Retired_encoded"] = retirement_encoder.fit_transform(employee_data.Retired)

employee_data.head()

      Designation  Age  Salary Retired  Designation_encoded  Retired_encoded
0         Manager   54   72000     Yes                    1                1
1      Supervisor   27   32000      No                    2                0
2  Vice-president   30   42000      No                    3                0
3         Manager   58   83000     Yes                    1                1
4      Supervisor   40   35000      No                    2                0

In [15]:
retirement_encoder.classes_

array(['No', 'Yes'], dtype=object)