In [1]:
# 1st

from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np

In [10]:
# handle_unknown makes encoder to ignore unknown cat that weren't available during fit opp
enc = OneHotEncoder(handle_unknown="ignore")

In [11]:
# test data
majors = [["Engineering"],
         ["Math"],
         ["Chemistry"]]

In [12]:
# one-hot encoding opp

enc.fit(majors)
enc.transform(majors).toarray()

array([[0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [13]:
# get cat map to one-hot encoded form
enc.categories_

[array(['Chemistry', 'Engineering', 'Math'], dtype=object)]

In [15]:
new_majors = [["Engineering"], ["Stats"], ["Mass Com"]]

enc.transform(new_majors).toarray()

array([[0., 1., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [16]:
# main data
students_info = pd.read_csv("./datasets/academic_info.csv")

students_info.head()

   StudentID       Department Nationality  Batch
0      19022  Polical Science       Egypt   2010
1      19087       Journalism     Germany   2012
2      12809      Engineering     Germany   2014
3      12809             Math       China   2014

In [19]:
# encoder to encode dept
dept_ohe = OneHotEncoder()

dept_ohe_transformed = dept_ohe.fit_transform(students_info.Department.values.reshape(-1, 1))

dept_ohe_transformed

<4x4 sparse matrix of type '<class 'numpy.float64'>'
	with 4 stored elements in Compressed Sparse Row format>

In [20]:
dept_ohe_transformed.toarray()

array([[0., 0., 0., 1.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.]])

In [21]:
dept_ohe.categories_

[array(['Engineering', 'Journalism', 'Math', 'Polical Science'],
       dtype=object)]

In [22]:
# one-hot encdoed result in df, so to know how encoded maps to actualcat data
dept_df = pd.DataFrame(dept_ohe_transformed.toarray(), columns = dept_ohe.categories_, dtype = np.int)

dept_df

  Engineering Journalism Math Polical Science
0           0          0    0               1
1           0          1    0               0
2           1          0    0               0
3           0          0    1               0

In [24]:
# encodes student nationality
nationality_ohe = OneHotEncoder()

nationality_transformed = nationality_ohe.fit_transform(students_info[["Nationality"]])

nationality_transformed.toarray()

array([[0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [26]:
nationality_df = pd.DataFrame(nationality_transformed.toarray(), columns = nationality_ohe.categories_, dtype = np.int)

nationality_df

  China Egypt Germany
0     0     1       0
1     0     0       1
2     0     0       1
3     1     0       0

In [27]:
# one hot encoding using pandas on a dataframe straight
dummy_dept = pd.get_dummies(students_info.Department)

dummy_dept

   Engineering  Journalism  Math  Polical Science
0            0           0     0                1
1            0           1     0                0
2            1           0     0                0
3            0           0     1                0

In [28]:
dummy_nationality = pd.get_dummies(students_info.Nationality)

dummy_nationality

   China  Egypt  Germany
0      0      1        0
1      0      0        1
2      0      0        1
3      1      0        0

In [29]:
# concat encoded and main data in single df
student_info = pd.concat([students_info, dummy_dept, dummy_nationality], axis = 1)

student_info.head()

,StudentID,Department,Nationality,Batch,Engineering,Journalism,Math,Polical Science,China,Egypt,Germany
0,19022,Polical Science,Egypt,2010,0,0,0,1,0,1,0
1,19087,Journalism,Germany,2012,0,1,0,0,0,0,1
2,12809,Engineering,Germany,2014,1,0,0,0,0,0,1
3,12809,Math,China,2014,0,0,1,0,1,0,0